
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rct-label-group{
  background: #ffff !important;
  color: black !important;
  border: 1px solid #C4C4C4;
}

.react-calendar-timeline .rct-header .rct-label{
  border-left: none;
  background: #ffff;
}

  .rct-vertical-lines .rct-vl {
    border: 1px solid #c4c4c4;
    border-style: dotted;
    border-left:none !important;
  }


  .react-calendar-timeline .rct-horizontal-lines .rct-hl-even{
    border-bottom: none;
  }

  .react-calendar-timeline .rct-horizontal-lines .rct-hl-odd{
    background: #ffff;
    border-bottom: none;
  }

  .react-calendar-timeline .rct-header .rct-label-group > span {
    color: red ;
  }

  .rct-day-6,
		.rct-day-0 {
			background: transparent !important;
		}

  .rct-item-content{
    display: flex !important;
  }
  .react-calendar-timeline .rct-item.selected.can-resize-right {
    border-right-width: 0px;
  } 

  .react-calendar-timeline .rct-item{
    border-radius: 50px;
  }